/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --accent-color: #FF0070;
  --text-accent-color: #FF0070;
  --text-color: #F1B2CE;
  --title-color: #DB00FF;
  --subtitle-text-color: #000028;
  --outline-button-color: rgba(255, 0, 112, 0.4);
  --cover-image-dark: url(../images/cover-image-dark.png);
}